// Place your apps css here


tr.selected td {
	background_color: #428bca;
	color: #FFFFFF;
}

tr.selected td button {
	color: #000000;
}

textarea {
  height: 140px;
  width: 100%;
}

tr.selected {
    background-color: #288282;
}





